- widget_id ||= input_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")
- desc = file.try(:description).try(:to_s).try!(:strip).try!(:truncate, 15).presence
- empty_desc = "Без описания"

- classes = []
- classes << 'neofiles-image-compact-empty' unless file
- classes << 'neofiles-image-compact-with-description'
.neofiles-image-compact(id=widget_id data-url=neofiles_file_save_path){class: classes}

  - if error.present?
    %p.neofiles-error
      = error

  - if file
    = file.admin_compact_view self
    %a(href=neofiles_file_remove_path class="neofiles-image-compact-remove")
      %i.icon-remove.glyphicon.glyphicon-remove

    - if Rails.application.config.neofiles.try(:current_admin).try(:call, self)
      - options_form = capture do
        - if file.description.present?
          %p= file.description

        %p Создан #{l file.created_at, format: "%d.%m.%Y <span class=\"muted text-muted\">в %H:%M</span>"}

        - file_options = []
        - if file.respond_to? :dimensions
          - file_options << "#{file.dimensions.join('×').html_safe} px"
        - file_options << "#{number_to_human_size file.length, precision: 0}"
        %p= file_options.join(", ")
        
        - if file.owner_type.present? || file.owner_id.present?
          %p Владелец: #{file.owner_type}#{file.owner_id}

        - if file.respond_to? :no_wm
          %p.checkbox
            - uniq_name = "#{widget_id}_no_wm"
            %label(for=uniq_name)
              = check_box_tag uniq_name, "1", file.no_wm, class: "neofiles-image-compact-nowm", data: {update_url: neofiles_file_update_path}
              не ставить водяной знак

      %a(href="#" tabindex="0" class="neofiles-image-compact-options" data-toggle="popover" data-trigger="click" data-placement="top" data-html="true" data-animation="false" data-title="#{file.filename}" data-content=options_form)
        %i.icon-wrench.glyphicon.glyphicon-wrench

    - description_form = capture do
      - area_name = "#{widget_id}_description"
      = text_area_tag area_name, file.description, class: "neofiles-image-compact-description-input", rows: 10, data: {update_url: neofiles_file_update_path}
      .text-center
        %button.btn.btn-primary.btn-small.neofiles-image-compact-description-save Сохранить

    - popover_template = capture do
      .popover.neofiles-image-compact-description-popover(role="tooltip")
        .arrow
        %h3.popover-title
        .popover-content

    .neofiles-image-compact-description
      %a.neofiles-image-compact-description-handle(href="#" data-empty=empty_desc data-toggle="popover" data-trigger="click" data-placement="top" data-html="true" data-animation="false" data-title="Описание" data-content=description_form data-template=popover_template){class: desc ? nil : 'neofiles-image-compact-description-empty'}= desc || empty_desc

  %span.neofiles-image-compact-upload-icon
    %i.icon-upload.glyphicon.glyphicon-upload

  = hidden_field_tag input_name, file.try(:id), id: nil, class: 'neofiles-image-transfer-input', disabled: disabled
  = hidden_field_tag 'neofiles[id]', file.try(:id), id: nil, disabled: disabled
  = hidden_field_tag 'neofiles[input_name]', input_name, id: nil, disabled: disabled
  = hidden_field_tag 'neofiles[widget_id]', widget_id, id: nil, disabled: disabled
  = hidden_field_tag 'neofiles[clean_remove]', clean_remove ? 1 : 0, id: nil, disabled: disabled
  = hidden_field_tag 'neofiles[append_create]', file ? 0 : (append_create ? 1 : 0), id: nil, disabled: disabled
  = hidden_field_tag 'neofiles[multiple]', multiple ? 1 : 0, id: nil, disabled: disabled

  = file_field_tag "neofiles[file]#{'[]' if multiple && !file}", id: nil, class: 'neofiles-image-compact-file', disabled: disabled, multiple: multiple && !file

:javascript
  $(function() {
      $("##{widget_id}").image();
  });

- if append_create and file
  = render partial: 'file_compact', locals: {file: nil, input_name: input_name, widget_id: widget_id + '_ap', clean_remove: clean_remove, append_create: true, error: nil, disabled: disabled, multiple: multiple}

